# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# eclipse language server stuff
.project
.classpath
.settings/org.eclipse.buildship.core.prefs
*/.project
*/.classpath
*/.settings/org.eclipse.buildship.core.prefs
*.class
*.class

